body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.login {
  background-color: red;
}

main {
  flex: 1 0 auto;
}

/*NAV BAR*/

.nav-links {
  padding-left: 30px !important;
}

/*MAIN*/

main section {
  display: flex;
  justify-content: center;
  align-content: center;
}

p, .user {
  text-align: center;
}

.user {
  margin-top: 10px;
}

/*FORM*/

.something {
  display: flex;
  justify-content: center;
}

/*FOOTER*/

footer.page-footer {
  padding-top: 0;
}

/*LOGIN MODAL*/

.modal-form {
  text-align: left;
}

.modal .modal-footer .btn {
  float: none;
}

.modal .modal-content {
  padding-bottom: 10px;
}

#modal1 {
  height: 315px;
  border-radius: 10px;
}
