body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*NAV BAR*/



/*MAIN*/

main section {
  display: flex;
  justify-content: center;
  align-content: center;
}

p {
  text-align: center;
}


/*FOOTER*/
