body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.login {
  background-color: red;
}

main {
  flex: 1 0 auto;
}

/*NAV BAR*/

.nav-links {
  padding-left: 30px !important;
}

/*MAIN*/

main section {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-color: #0D160B;
}

p, .user {
  text-align: center;
}

.returning {
  color: #C492B1;
  font-style: italic;
}

.nav-wrapper {
  background-color: #C492B1;
}

.user {
  margin-top: 10px;
}

.tagline-box {
  color: #B7D1DA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.about-box {
  color: #B7D1DA;
}

/*FORM*/

#registrationForm div.row {
  margin-bottom: 0;
}

.something {
  display: flex;
  justify-content: center;
}

.something button {
  background-color: #C492B1;
  margin-bottom: 4px;
  padding: 0 8px;
}

/*FOOTER*/

footer.page-footer {
  background-color: #C492B1;
  padding-top: 0;
}

/*MODALS*/

.modal-form {
  text-align: left;
}

.modal .modal-footer .btn {
  float: none;
}

.modal .modal-content {
  padding-bottom: 10px;
}

#modal1, #modal2 {
  border-radius: 10px;
}

#modal1 {
  height: 315px;
}

.modal, .modal-footer {
  background-color: #0D160B !important;
}

.modal-footer button {
  background-color: #C492B1;
}

/*MATERIALIZE*/

.input-field {
  color: #fff;
}

/* label color */
.input-field label {
  color: #C492B1;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #C492B1;
}
.input-field input[type=email]:focus + label {
  color: #C492B1;
}
.input-field input[type=password]:focus + label {
  color: #C492B1;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #C492B1;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=email]:focus {
  border-bottom: 1px solid #C492B1;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #C492B1;
  box-shadow: 0 1px 0 0 #000;
}
