body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*NAV BAR*/



/*MAIN*/

#search-form {
  margin: 6px 0px;
  position: relative;
}

#submit {
  position: absolute;
  top: 11px;
  width: 55px;
}

.comModal {
  height: 80%;
  width: 75%;
}

.card-content {
  padding: 8px !important;
  min-height: 100px;
}

.card-content p:first-of-type {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-action {
  padding: 8px !important;
}

.card-image img {
  min-height: 100%;
  max-height: 104px;
  max-width: 170px;
  margin: 0px;

.comment-button {
  font-size: 0.8rem;
}

.icon-row span {
  margin: 0px 4px;
  position: relative;;
}

#comIcon {
  font-size: 2rem;
  position: absolute;
  /*top: -2px;*/
}

@media (min-width: 600px) {
  .card {
    max-width: 300px;
  }

  .card-image img {
    min-height: 100%;
    max-height: 80px;
    max-width: 300px;
    margin: 0px;
  }
}

@media (min-width: 900px) {
  .card {
    max-width: 300px;
  }

  .card-image img {
    min-height: 100%;
    max-height: 162px;
    max-width: 300px;
    margin: 0px;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 300px;
  }

  .card-image img {
    min-height: 100%;
    max-height: 180px;
    max-width: 300px;
    margin: 0px;
  }
}

/*FOOTER*/
