html {
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*NAV BAR*/

.nav-wrapper {
  background-color: #C492B1;
}


/*MAIN*/

body {
  background-color: #0D160B;
}

#search-form {
  margin: 6px 0px;
  position: relative;
}

#search-bar {
  color: #fff;
}

#submit {
  background-color: #C492B1;
  position: absolute;
  top: 11px;
  width: 55px;
}

#slide-out {
  background-color: #0D160B;
}

#slide-out li a {
  color: #C492B1;
}

#slide-out li a:hover {
  color: #fff !important;
}

.com-modal {
  height: 80%;
  width: 75%;
}

.card {
  background-color: #212d30;
}

.card-content {
  padding: 8px !important;
  min-height: 90px;
  text-align: center;
}

.card-content p:first-of-type {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-content p {
  color: #B7D1DA  !important;
}

.card-action {
  padding: 8px !important;
  text-align: center;

}

div.card-action a {
  color: #B7D1DA !important;
  font-size: 0.85rem;
  margin: 0px !important;
}

.card-image img {
  min-height: 104px;
  max-height: 104px;
  max-width: 170px;
  margin: 0px;
}

.modal, .modal-footer {
  background-color: #0D160B !important;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.user-request {
  background-color: #C492B1;
}

.modal h5 {
  color: #C492B1;
}

.modal p {
  color: #B7D1DA;
}

.modal i.star {
  color: #898b71;
}

.icon-row {
  display: flex;
  justify-content: space-around;
}

.com-icon {
  font-size: 2rem;
}

.comment-button {
  font-size: 0.8rem;
}

.comment-box {
  display: flex;
  margin-bottom: 25px;
  width: 100%;
}

.comment-heading {
  border-bottom: 2px solid #C492B1;
  margin-bottom: 10px;
  padding: 8px !important;
}

.comment-heading h5 {
  margin: 0;
}

.profile-box {
  position: relative;
  width: 20%;
}

.profile-box span {
  color: white;
  position: absolute;
  left: 5px;
}

.profile-pic {
  background: url(../images/coffee.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.sidepro {
  background: url(../images/user1.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.sidepro-container {
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 15px;
}

.text-box {
  border-bottom: 2px solid #C492B1;
  padding: 0px 7px;
  width: 80%;
}

.text {
  margin: 0px;
}

.no-comments {
  padding: 50px 20px 20px 30px;
}

.no-text {
  color: darkgrey;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .card {
    max-width: 300px;
  }

  .card-image img {
    min-height: 100%;
    max-height: 80px;
    max-width: 300px;
    margin: 0px;
  }
}

/*DASHBOARD*/

.user-details {
  color: #B7D1DA;
}

a.btn {
  background-color: #C492B1;
}

ul.tabs {
  background-color: #0D160B;
}

ul.tabs li a {
  color: #B7D1DA !important;
}

@media (min-width: 900px) {
  .card {
    max-width: 300px;
  }

  .card-image img {
    min-height: 100%;
    max-height: 162px;
    max-width: 300px;
    margin: 0px;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 300px;
  }

  .card-image img {
    min-height: 100%;
    max-height: 180px;
    max-width: 300px;
    margin: 0px;
  }
}

/*FOOTER*/

footer.page-footer {
  background-color: #C492B1;
  padding-top: 0;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #C492B1;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text]:focus + label {
  color: #C492B1;
}

.prefix {
  color: #a7b6be;
}

.input-field .prefix.active {
  color: #B7D1DA;
}
