body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*NAV BAR*/



/*MAIN*/

main section:first-of-type {
  padding: 20px 0px;
}

#termsOfUse {
  height: 30%;
  margin-bottom: 0px;
}


/*FOOTER*/
